@font-face {
    font-family: "PlusJakartaSans";
    src: url(../fonts/PlusJakartaSans-Bold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans";
    src: url(../fonts/PlusJakartaSans-ExtraBold.ttf);
}

@font-face {
    font-family: "PlusJakartaSans";
    src: url(../fonts/PlusJakartaSans-Medium.ttf);
}